@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(-50%, -20px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }

  .animate-fade-in-down {
    animation: fadeInDown 0.3s ease-out forwards;
  }
}
